<div class="main-component">
  <mat-toolbar class="tool-bar">
    <img class="tool-bar__image" src="assets/img/logobold-devoteam.png" />
    <span> BOLD Internation <small> by Devoteam </small> </span>
  </mat-toolbar>
  <mat-sidenav-container class="side-nav">
    <mat-sidenav
      mode="side"
      opened
      class="side-nav__side-bar"
      [fixedInViewport]="true"
    >
      <mat-nav-list>
        <a mat-list-item [routerLink]="['home']">
          <mat-icon class="mr-3">home</mat-icon>
          <span>HOME</span>
        </a>
        <a mat-list-item [routerLink]="['personal']">
          <mat-icon class="mr-3">account_circle</mat-icon>
          <span>PESSOAL</span>
        </a>
        <a mat-list-item [routerLink]="['timesheet']">Timesheet</a>
        <a mat-list-item [routerLink]="['refund']">Pedidos de Reembolso</a>
        <a mat-list-item [routerLink]="['vocation']">Férias</a>
        <a mat-list-item [routerLink]="['tickets']">My Tickets</a>
        <a mat-list-item [routerLink]="['events']">Inscrição em Eventos</a>
        <a mat-list-item [routerLink]="['documents']">Consulta de Documentos</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="side-nav__content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
