.main-component {
  height: 100vh;
  min-width: 860px;
  display: flex;
  flex-direction: column;

  .tool-bar {
    &__image {
      height: 2rem;
      margin-right: 3rem;
    }
  }

  .side-nav {
    display: flex;
    flex-grow: 1;

    &__side-bar {
      box-shadow: -4px 14px 22px #afeeee;
      padding: 0 1rem;
    }
    &__content {
      flex-grow: 1;
      padding: 2rem;
    }

    &__menu {
      display: flex;
      flex-direction: column;

      &-item {
        margin-top: 1rem;
        text-align: left;
      }
    }
  }
}
